<%= content_for :title, @user.name %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div>
        <%= gravatar_for(@user) %>
        <p id="name"><%= @user.name %></p>
        <p id="signature"><%= @user.signature %></p>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <h2>全部微博（<%= @user.microposts.count %>）</h2>
    <ol class="microposts">
      <% if @user.microposts.any? %>
        <%= render 'microposts/micropost', microposts: @microposts %>
      <% else %>
        <li>还没有微博哟。。。</li>
      <% end %>
    </ol>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
